@font-face {
    font-family: "Nanum Pen Script";
    src: url("../public/NanumPenScript-Regular.ttf");
}

html, body {
    margin: 0;
    width: 100%;
    background-color: rgb(246, 246, 246);
}

#root {
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh; /* vh(=viewport height): 현재 브라우저의 스크린 높이 */
    height: 100%;
    box-shadow: rgb(100, 100, 100, 0.2) 0 0 29px 0;
    padding: 0 20px;
}

body * {
    font-family: "Nanum Pen Script";
}